<main class="text-center" id="question_view">
  <div class="row ">
    <div class="col-xs-6">
      <p class="user_name">Chào : </p>
    </div>
      <div class="col-xs-6">
        <span class="user_point"><i class="fa fa-trophy" aria-hidden="true"></i> Điểm : </span>
      </div>
  </div>
<<<<<<< HEAD
=======

>>>>>>> fb0c339872e8bf2891390d973a8474138c86553f
</main>

<script id="question-template" type="text/x-handlebars-template">
  <h3 class="question">\{{question.title}}</h3>
  <form action="" method="post">
      <div class="row">
          <div class="col-xs-6">
              <button class="btn btn-primary" name="chon" value="a">\{{question.answers.[0]}}</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-primary" name="chon" value="b">\{{question.answers.[1]}}</button>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-primary" name="chon" value="c">\{{question.answers.[2]}}</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-primary" name="chon" value="d">\{{question.answers.[3]}}</button>
          </div>
      </div>
  </form>
  <br>
<<<<<<< HEAD
  <p><a class="btn btn-default" href="/question">Câu hỏi khác</a></p>
=======
  <p><a class="btn btn-default" href="#">Câu hỏi khác</a></p>
>>>>>>> fb0c339872e8bf2891390d973a8474138c86553f
  <p><a class="btn btn-default" href="#">Xếp hạng cá nhân</a></p>
</script>
<script src="/js/question.js">

</script>
